/* Sticky footer styles
-------------------------------------------------- */

html,
body {
height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
min-height: 100%;
height: auto !important;
height: 100%;
/* Negative indent footer by it's height */
margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
height: 60px;
}

#footer {
background-color: #3F3F3F;
color: whitesmoke;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .credit {
margin: 20px 0;
}

code {
font-size: 80%;
}


.ilabel {
	text-align: right;
	vertical-align: center;
	width: 150px;
	display: inline-block;
}

.otherLabel {
	text-align: right;
	width: 136px;
	display: inline;
	margin-bottom: 10px;

}

#easel {
	background: #AAA;
	display: block;
	margin: 0 auto;
}

table td.num_separator , table td.num_id, 
table thead tr th.num_title, 
div.container .row .row span[name=total_num]  {
	text-align: right;
}

div.container .row .row span {
	font-size: 14px;
	line-height: 16px;
	padding-bottom: 15px;
}

table.table-striped tr:hover {
	cursor:pointer;
}

table.table-striped thead tr:hover {
	cursor:pointer;
}

.username {
	font-size: 9pt;
	color: white;
	text-align: right;
	padding-top: 10px;
}